/* app css stylesheet */

@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

.menu {
  list-style: none;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

li.meter-list-li {
  list-style: none;
}

li.meter-list-li a {
  font-family: "Inconsolata";
  width: 20em;
}

#masthead {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 100pt;
}

#desc {
  text-align: center;
  margin: 2em;
}

#measurments_list {
  text-align: center;
}

.navbutt {
  width: 10em;
}
