<div class="row">
  <div class="columns large-3 text-center">
    <a class="navbutt small button" ng-click="prevGETCall()">Previous</a>
  </div>
  <div id="measurments_list" class="columns large-6 text-center">
  <ul>
    <li ng-repeat="meter in meters" class="meter-list-li">
      <a class="small button" href="#/meter/_[meter.mRID]_">
        _[meter.name]_
        </a>
    </li>
  </ul>
</div>
<div class="columns large-3 text-center">
  <a class="navbutt small button" ng-click="nextGETCall()">Next</a>
</div>

</div>
